body {
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

#mouse {
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    z-index: 10;
    margin-left: -12.5%;
}

article {
    padding: 2em 0;
}

#histograms {
    margin-bottom: 1em;
}

#histograms div div{
    display: flex;
    flex-flow: row;
}
